Librerias:

In [213]:
import numpy as np
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import axes3d
from matplotlib import cm
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns

# Modeling libraries
from sklearn.datasets import load_boston
import statsmodels.formula.api as smf 
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import learning_curve, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn.model_selection import cross_validate, cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn import set_config
set_config(display='diagram')


import pandas as pd
np.random.seed(123)

import warnings
warnings.filterwarnings('ignore')

### Possible Dataframes

##### Download  DataFrame - original

In [214]:
test_data_original = pd.read_csv("data/test.csv")
train_data_original = pd.read_csv("data/train.csv")

##### Download  DataFrame - drop categorical

In [290]:
test_data_no_categorical = pd.read_csv("data/test_data_drop_categorical.csv")
train_data_no_categorical = pd.read_csv("data/train_data_drop_categorical.csv")
train_data_no_categorical

       carat  depth  table     x     y     z  price
0       0.53   63.4   54.0  5.09  5.13  3.24  7.057
1       0.41   63.0   56.0  4.80  4.75  3.01  6.824
2       0.32   61.6   56.0  4.37  4.39  2.70  6.107
3       0.31   61.2   56.0  4.34  4.37  2.66  6.390
4       1.35   60.5   56.0  7.19  7.12  4.33  8.741
...      ...    ...    ...   ...   ...   ...    ...
40450   0.52   61.2   58.0  5.16  5.20  3.17  7.508
40451   0.52   62.0   55.0  5.14  5.17  3.19  7.232
40452   0.73   63.5   58.0  5.68  5.72  3.62  8.065
40453   0.31   56.9   59.0  4.45  4.48  2.54  6.629
40454   0.33   60.2   57.0  4.50  4.54  2.72  6.361

[40455 rows x 7 columns]

##### Download  DataFrame - encoded

In [291]:
test_data_encode = pd.read_csv("data/test_data_all_encoded.csv")
train_data_encode = pd.read_csv("data/train_data_all_encoded.csv")
train_data_encode

       carat  depth  table     x     y     z  price  color_num  cut_num
0       0.53   63.4   54.0  5.09  5.13  3.24  7.057          7        3
1       0.41   63.0   56.0  4.80  4.75  3.01  6.824          6        5
2       0.32   61.6   56.0  4.37  4.39  2.70  6.107          5        5
3       0.31   61.2   56.0  4.34  4.37  2.66  6.390          4        5
4       1.35   60.5   56.0  7.19  7.12  4.33  8.741          3        4
...      ...    ...    ...   ...   ...   ...    ...        ...      ...
40450   0.52   61.2   58.0  5.16  5.20  3.17  7.508          6        4
40451   0.52   62.0   55.0  5.14  5.17  3.19  7.232          2        5
40452   0.73   63.5   58.0  5.68  5.72  3.62  8.065          6        3
40453   0.31   56.9   59.0  4.45  4.48  2.54  6.629          2        1
40454   0.33   60.2   57.0  4.50  4.54  2.72  6.361          4        5

[40455 rows x 9 columns]

### Model 1

In [292]:
X = train_data_no_categorical.drop(['price'], axis = 1)
y = train_data_no_categorical['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
regr = ElasticNet(random_state=0)
regr.fit(X_train, y_train)
regr.score(X_test, y_test)

0.6309334510917625

In [293]:
X = train_data_encode.drop(['price'], axis = 1)
y = train_data_encode['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
regr = ElasticNet(random_state=0)
regr.fit(X_train, y_train)
regr.score(X_test, y_test)

0.6309334510917625

In [294]:
y_test_pred = regr.predict(X_train)
y_test_pred_df = pd.DataFrame(y_train_pred)
y_test_pred_df

              0
0      8.068766
1      7.425276
2      7.401390
3      8.140217
4      7.759181
...         ...
32359  7.269819
32360  7.219727
32361  7.284467
32362  8.671198
32363  7.984658

[32364 rows x 1 columns]

In [295]:
y_test_pred_df = y_test_pred_df.reset_index()

In [296]:
y_train_pred_df = y_train_pred_df.rename(columns={0:'price'})
y_train_pred_df = y_train_pred_df.rename(columns={"index":'id'})
y_train_pred_df

          price
0      8.068766
1      7.425276
2      7.401390
3      8.140217
4      7.759181
...         ...
32359  7.269819
32360  7.219727
32361  7.284467
32362  8.671198
32363  7.984658

[32364 rows x 1 columns]

In [297]:
y_train_pred_df.to_csv("data/entrega1", index=False)

### Model 2

In [253]:
from sklearn.linear_model import LinearRegression

In [254]:
X = train_data_no_categorical.drop(['price'], axis = 1)
y = train_data_no_categorical['price']

In [255]:
lr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [256]:
lr.fit(X_train, y_train)

LinearRegression()

In [257]:
y_test_pred = lr.predict(X_test)

In [258]:
y_test_pred = pd.DataFrame(y_test_pred)

In [259]:
y_test_pred = y_train_pred_df.reset_index()

In [260]:
y_test_pred = y_train_pred_df.rename(columns={0:'price'})
y_test_pred = y_train_pred_df.rename(columns={"index":'id'})
y_test_pred

          id     price
0          0  8.418946
1          1  7.009804
2          2  6.963857
3          3  8.586997
4          4  7.718600
...      ...       ...
32359  32359  6.700109
32360  32360  6.599411
32361  32361  6.739359
32362  32362  9.736691
32363  32363  8.228049

[32364 rows x 2 columns]

In [ ]:
y_test_pred.to_csv("data/entrega2", index=False)

### Model 3

In [230]:
X = train_data_no_categorical.drop(['price'], axis = 1)
y = train_data_no_categorical['price']

In [231]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [232]:
model = KNeighborsClassifier()
parameter_space = {'n_neighbors': n_neighbors,
                   }

grid_search = GridSearchCV(model,
                           param_grid=parameter_space,
                           cv=5)

grid_search.fit(X_train, y_train)

NameError: name 'n_neighbors' is not defined