Librerias:

In [33]:
import numpy as np
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import axes3d
from matplotlib import cm
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns

# Modeling libraries
from sklearn.datasets import load_boston
import statsmodels.formula.api as smf 
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import learning_curve, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn.model_selection import cross_validate, cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn import set_config
set_config(display='diagram')


import pandas as pd
np.random.seed(123)

import warnings
warnings.filterwarnings('ignore')

### Possible Dataframes

##### Download  DataFrame - original

In [34]:
test_data_original = pd.read_csv("data/test.csv")
train_data_original = pd.read_csv("data/train.csv")

##### Download  DataFrame - drop categorical

In [79]:
test_data_no_categorical = pd.read_csv("data/test_data_drop_categorical.csv")
train_data_no_categorical = pd.read_csv("data/train_data_drop_categorical.csv")
test_data_no_categorical

       carat  depth  table     x     y     z
0       0.33   61.9   55.0  4.44  4.42  2.74
1       0.41   61.8   54.0  4.79  4.76  2.95
2       0.91   62.5   59.0  6.16  6.23  3.87
3       0.42   62.6   57.0  4.76  4.80  2.99
4       0.54   61.5   56.0  5.28  5.25  3.24
...      ...    ...    ...   ...   ...   ...
13480   0.55   61.7   56.4  5.26  5.30  3.25
13481   1.12   60.6   59.0  6.77  6.70  4.08
13482   0.37   61.5   57.0  4.63  4.60  2.84
13483   0.54   59.9   63.0  5.25  5.30  3.16
13484   0.93   62.3   56.0  6.26  6.22  3.89

[13485 rows x 6 columns]

##### Download  DataFrame - encoded

In [80]:
test_data_encode = pd.read_csv("data/test_data_all_encoded.csv")
train_data_encode = pd.read_csv("data/train_data_all_encoded.csv")
test_data_encode

       carat  depth  table     x     y     z  color_num  cut_num  clarity_num
0       0.33   61.9   55.0  4.44  4.42  2.74          4        5          7.0
1       0.41   61.8   54.0  4.79  4.76  2.95          1        5          3.0
2       0.91   62.5   59.0  6.16  6.23  3.87          1        3          2.0
3       0.42   62.6   57.0  4.76  4.80  2.99          7        3          3.0
4       0.54   61.5   56.0  5.28  5.25  3.24          7        5          7.0
...      ...    ...    ...   ...   ...   ...        ...      ...          ...
13480   0.55   61.7   56.4  5.26  5.30  3.25          2        5          NaN
13481   1.12   60.6   59.0  6.77  6.70  4.08          4        4          3.0
13482   0.37   61.5   57.0  4.63  4.60  2.84          6        5          NaN
13483   0.54   59.9   63.0  5.25  5.30  3.16          1        2          NaN
13484   0.93   62.3   56.0  6.26  6.22  3.89          3        5          4.0

[13485 rows x 9 columns]

### Model 1

In [61]:
X = train_data_no_categorical.drop(['price'], axis = 1)
y = train_data_no_categorical['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
regr = ElasticNet(random_state=0)
regr.fit(X_train, y_train)
regr.score(X_test, y_test)

0.6309334510917625

In [67]:
X = train_data_encode.drop(['price'], axis = 1)
y = train_data_encode['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
regr = ElasticNet(random_state=0)
regr.fit(X_train, y_train)
regr.score(X_test, y_test)

0.6309334510917625

In [81]:
y_test_pred = lr.predict(X_test)

In [82]:
y_test_pred = pd.DataFrame(y_test_pred)

In [83]:
y_test_pred = y_test_pred.reset_index()

In [84]:
y_test_pred = y_test_pred.rename(columns={0:'price'})
y_test_pred = y_test_pred.rename(columns={"index":'id'})
y_test_pred

        id     price
0        0  6.859009
1        1  7.854170
2        2  6.485518
3        3  8.262342
4        4  6.900592
...    ...       ...
8086  8086  7.404861
8087  8087  8.055138
8088  8088  9.849796
8089  8089  7.401998
8090  8090  7.679194

[8091 rows x 2 columns]

In [ ]:
y_test_pred.to_csv("data/entrega1", index=False)

### Model 2

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
X = train_data_encode.drop(['price'], axis = 1)
y = train_data_encode['price']

In [48]:
lr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [49]:
lr.fit(X_train, y_train)

LinearRegression()

In [50]:
y_test_pred = lr.predict(X_test)

In [51]:
y_test_pred = pd.DataFrame(y_test_pred)

In [52]:
y_test_pred = y_test_pred.reset_index()

In [53]:
y_test_pred = y_test_pred.rename(columns={0:'price'})
y_test_pred = y_test_pred.rename(columns={"index":'id'})
y_test_pred

          id     price
0          0  6.859009
1          1  7.854170
2          2  6.485518
3          3  8.262342
4          4  6.900592
...      ...       ...
12132  12132  6.853199
12133  12133  8.504476
12134  12134  7.745087
12135  12135  7.496260
12136  12136  8.571790

[12137 rows x 2 columns]

In [54]:
y_test_pred.to_csv("data/entrega2", index=False)

### Model 3

In [93]:
X = train_data_encode.drop(['price'], axis = 1)
y = train_data_encode['price']

In [99]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [100]:
KN = KNeighborsClassifier()

In [101]:
KN.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'

In [98]:
y_test_pred = lr.predict(X_test)

In [ ]:
y_test_pred = pd.DataFrame(y_test_pred)

In [ ]:
y_test_pred = y_test_pred.reset_index()

In [ ]:
y_test_pred = y_test_pred.rename(columns={0:'price'})
y_test_pred = y_test_pred.rename(columns={"index":'id'})
y_test_pred

In [ ]:
y_test_pred.to_csv("data/entrega3", index=False)